:root{
    --bluish-purple: rgb(64,78,237,1);
    --not-quite-dark: #23272a;
    --blue-300: #88c8f7;
    --blue-800: #063251;
    --letter-color: #ffffff;
    --body-bg: #fbfdfe;
    --dt-darkest: #121a21;
    --body-bg-dark: #192229;
    --off-white: #f6f6f6;
    --white: #fff;

    --height: 1rem;
    --duration: 0.25s;
    --font-display: "Ginto Normal","Whitney","Helvetica Neue","Helvetica","Arial",sans-serif;
    --num-grid-columns: 4;

    --background-color: var(--bluish-purple);
    --section-color: var(--not-quite-dark);
    --section-background-white: var(--white);
    --section-background-off: var(--off-white);
}


.carousel-img{
    width:600px;
    height: 350px;
    text-align:center;
    transform:translateX(62%);
}

/* .carousel-control-next,.carousel-control-prev{
    
} */

.carousel-control-next-icon{
    transform: translateX(-120%);
}

.carousel-control-prev-icon{
    transform: translateX(120%);

}

.carousel-control-prev-icon,.carousel-control-next-icon{
    background-color: var(--background-color);
    color: var(--white);
    border-radius: 25%;
}

.popover-img{
    width: 390px;
    /* transform: translateX(-50%); */
}

#popover-basic{
    transform: translate3d(160px, 1820.5px, 0px);
}

.popover-container{
    width: 1260px;
    height: 400px;
    background-color: var(--background-color);
    /* border: red 3px solid; */
}

.popover-btn{
    background-color: var(--background-color);
}

.pop{
    float: left;
    margin-left: 0rem;
}

.zoom{
    width: 350px;
    height: 200px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
}
 
.transition {
    -webkit-transform: scale(1.8); 
    -moz-transform: scale(1.8);
    -o-transform: scale(1.8);
    transform: scale(1.8);
}
.zoom-container{
    transform: translate(20%,5%);
}

/*About*/

.about__container{
    height: 1000px;
}

.accordion__container{
    width: 700px;
    height: 90px;
    transform:  translate(20px,20px);
}
#float-btn{
    background-color: var(--background-color);
    border-radius: 50%;
    border: var(--background-color);
    width: 50px;
    height: 50px;
}
.chat-btn__icon{
    font-size: 30px;
    transform: translateX(-1px);
}
.a-btn{
    color: var(--white);
}
.a-btn:hover{
    color: var(--off-white);
}

.hidden{
    display: none;
}

.video__container{
    transform: translate(750px,-70px);
    z-index: 0;
}

.cards{
    float: left;
}
#card-img1{
    height: 160px;
}
#card-img2{
    width: 286px;
    height: 160px;
}

/* Purec */
.button-success {
    background: rgb(28, 184, 65);
    /* this is a green */
}