@font-face {
    font-family: GintoNord;
    src: url('../assets/fonts/Ginto\ Nord\ Regular.woff2.ttf');
}

:root{
    --background-color: rgb(64,78,237);
    --letter-color: #ffffff;
    --not-quite-dark: #23272a;
}


.all{
    background-color: var(--background-color);
}
.navbar{
    background-color: var(--background-color);
    /* background-color: aliceblue; */
    height: 80px;
    padding-top: 10px;
}
.navbar__brand{
    height: 80px;
    
}
.nav-bar__logo__container{
    height: 80px;
    width: 280px;
    padding-left: 80px;
}
.navbar__logo{
    width: 60px;
    height: 60px;
    background: url('../assets/chatLogo.png') no-repeat center center;
    background-size: cover;
    border-radius: 100%;
}
.navbar__logo__text{
    font-weight: 900;
    font-size: 20px;
    margin-left: 20px;
    color: var(--letter-color);
}

.navbar__text{
    color: var(--letter-color);
    /* color: black; */
    font-weight: 700;
    margin-right: 2rem;
}

.navbar__start{
    /* border: 5px solid yellow; */
    margin-left: 3rem;
}

.navbar__end{
    margin-right: 4rem;
}

.navbar__login__btn{
    border-radius: 40px;
    font-size: 14px;
    padding: 7px 16px;
    background-color: var(--letter-color);
    font-weight: 500;
    line-height: 24px;
    cursor: pointer;
    border-color: var(--background-color);
    
}
.navbar__login__btn:hover{
    color: var(--background-color);
    box-shadow: 0px 6px 6px 0px rgba(30, 30, 31, 0.5);
}

/* HomePage section */

.home__container{
    padding: 120px 40px;
    width: 100%;
    height: 545px;
    /* border: 3px solid red; */
}

.home__container__message{
    width: 780px;
    height: 280px;
    text-align: center;
    margin-left: 20%;
}

.home__main-message{
    font-family: GintoNord,"Whitney","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-weight: 800;
    font-size: 56px;
    /* font-size: clamp(24px,5vw,44px); */
    line-height: 95%;
    text-transform: uppercase;
    text-rendering: geometricPrecision;
    color: var(--letter-color);
    font-style: inherit;
    display: block;
    width: 780px;
    height: 56px;

}

.home__message__div{
    margin-top: 40px;
    font-size: 20px;
    font-size: clamp(16px,2vw,20px);
    line-height: 1.625;
    color: var(--letter-color);
}

.home__message__btn{
    margin-top: 4rem;
}

.btn__download{
    border-radius: 28px;
    font-size: 20px;
    padding: 16px 32px;
    background-color: var(--letter-color);
    font-weight: 500;
    line-height: 24px;
    cursor: pointer;
    border-color: var(--background-color);
    color: black;
    border-radius: 28px;
    font-size: 20px;
    padding: 16px 32px;
    margin-right: 20px;
}

.btn__download:hover{
    color: var(--background-color);
    box-shadow: 0px 6px 6px 0px rgba(30, 30, 31, 0.5);
}

.icons{
    margin-right: 15px;
}

.btn__browser{
    border-radius: 28px;
    font-size: 20px;
    padding: 16px 32px;
    background-color: var(--not-quite-dark);
    font-weight: 500;
    line-height: 24px;
    cursor: pointer;
    border-color: var(--not-quite-dark);
    color: var(--letter-color);
    border-radius: 28px;
    font-size: 20px;
    padding: 16px 32px;
}

.btn__browser:hover{
    color: var(--letter-color);
    box-shadow: 0px 6px 6px 0px rgba(79, 79, 80, 0.5);
}